=begin
#ConnectWise API

#ConnectWise API

OpenAPI spec version: 1.0.0
Contact: platform@connectwise.com
Generated by: https://github.com/swagger-api/swagger-codegen.git

=end

require "uri"

module ConnectWise
  class AccountingUnpostedExpensesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # 
    # Get Unposted Expenses Count
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions 
    # @return [Count]
    def finance_accounting_unpostedexpenses_count_get(opts = {})
      data, _status_code, _headers = finance_accounting_unpostedexpenses_count_get_with_http_info(opts)
      return data
    end

    # 
    # Get Unposted Expenses Count
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions 
    # @return [Array<(Count, Fixnum, Hash)>] Count data, response status code and response headers
    def finance_accounting_unpostedexpenses_count_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: AccountingUnpostedExpensesApi.finance_accounting_unpostedexpenses_count_get ..."
      end
      # resource path
      local_var_path = "/finance/accounting/unpostedexpenses/count".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'conditions'] = opts[:'conditions'] if !opts[:'conditions'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Count')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AccountingUnpostedExpensesApi#finance_accounting_unpostedexpenses_count_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # Get Unposted Expenses
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions 
    # @option opts [String] :order_by 
    # @option opts [String] :childconditions 
    # @option opts [String] :customfieldconditions 
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @return [Array<UnpostedExpense>]
    def finance_accounting_unpostedexpenses_get(opts = {})
      data, _status_code, _headers = finance_accounting_unpostedexpenses_get_with_http_info(opts)
      return data
    end

    # 
    # Get Unposted Expenses
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions 
    # @option opts [String] :order_by 
    # @option opts [String] :childconditions 
    # @option opts [String] :customfieldconditions 
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @return [Array<(Array<UnpostedExpense>, Fixnum, Hash)>] Array<UnpostedExpense> data, response status code and response headers
    def finance_accounting_unpostedexpenses_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: AccountingUnpostedExpensesApi.finance_accounting_unpostedexpenses_get ..."
      end
      # resource path
      local_var_path = "/finance/accounting/unpostedexpenses".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'conditions'] = opts[:'conditions'] if !opts[:'conditions'].nil?
      query_params[:'orderBy'] = opts[:'order_by'] if !opts[:'order_by'].nil?
      query_params[:'childconditions'] = opts[:'childconditions'] if !opts[:'childconditions'].nil?
      query_params[:'customfieldconditions'] = opts[:'customfieldconditions'] if !opts[:'customfieldconditions'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<UnpostedExpense>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AccountingUnpostedExpensesApi#finance_accounting_unpostedexpenses_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # Get Unposted Expense By Id
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [UnpostedExpense]
    def finance_accounting_unpostedexpenses_id_get(id, opts = {})
      data, _status_code, _headers = finance_accounting_unpostedexpenses_id_get_with_http_info(id, opts)
      return data
    end

    # 
    # Get Unposted Expense By Id
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UnpostedExpense, Fixnum, Hash)>] UnpostedExpense data, response status code and response headers
    def finance_accounting_unpostedexpenses_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: AccountingUnpostedExpensesApi.finance_accounting_unpostedexpenses_id_get ..."
      end
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling AccountingUnpostedExpensesApi.finance_accounting_unpostedexpenses_id_get" if id.nil?
      # resource path
      local_var_path = "/finance/accounting/unpostedexpenses/{id}".sub('{format}','json').sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'UnpostedExpense')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AccountingUnpostedExpensesApi#finance_accounting_unpostedexpenses_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
