=begin
#ConnectWise API

#ConnectWise API

OpenAPI spec version: 1.0.0
Contact: platform@connectwise.com
Generated by: https://github.com/swagger-api/swagger-codegen.git

=end

require "uri"

module ConnectWise
  class MembersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # 
    # Get Members Count
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions 
    # @return [Count]
    def system_members_count_get(opts = {})
      data, _status_code, _headers = system_members_count_get_with_http_info(opts)
      return data
    end

    # 
    # Get Members Count
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions 
    # @return [Array<(Count, Fixnum, Hash)>] Count data, response status code and response headers
    def system_members_count_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: MembersApi.system_members_count_get ..."
      end
      # resource path
      local_var_path = "/system/members/count".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'conditions'] = opts[:'conditions'] if !opts[:'conditions'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Count')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MembersApi#system_members_count_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # Get Members
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions 
    # @option opts [String] :order_by 
    # @option opts [String] :childconditions 
    # @option opts [String] :customfieldconditions 
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @return [Array<Member>]
    def system_members_get(opts = {})
      data, _status_code, _headers = system_members_get_with_http_info(opts)
      return data
    end

    # 
    # Get Members
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions 
    # @option opts [String] :order_by 
    # @option opts [String] :childconditions 
    # @option opts [String] :customfieldconditions 
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @return [Array<(Array<Member>, Fixnum, Hash)>] Array<Member> data, response status code and response headers
    def system_members_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: MembersApi.system_members_get ..."
      end
      # resource path
      local_var_path = "/system/members".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'conditions'] = opts[:'conditions'] if !opts[:'conditions'].nil?
      query_params[:'orderBy'] = opts[:'order_by'] if !opts[:'order_by'].nil?
      query_params[:'childconditions'] = opts[:'childconditions'] if !opts[:'childconditions'].nil?
      query_params[:'customfieldconditions'] = opts[:'customfieldconditions'] if !opts[:'customfieldconditions'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<Member>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MembersApi#system_members_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # Get Member By Id
    # @param member_identifier 
    # @param [Hash] opts the optional parameters
    # @return [Member]
    def system_members_member_identifier_get(member_identifier, opts = {})
      data, _status_code, _headers = system_members_member_identifier_get_with_http_info(member_identifier, opts)
      return data
    end

    # 
    # Get Member By Id
    # @param member_identifier 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Member, Fixnum, Hash)>] Member data, response status code and response headers
    def system_members_member_identifier_get_with_http_info(member_identifier, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: MembersApi.system_members_member_identifier_get ..."
      end
      # verify the required parameter 'member_identifier' is set
      fail ArgumentError, "Missing the required parameter 'member_identifier' when calling MembersApi.system_members_member_identifier_get" if member_identifier.nil?
      # resource path
      local_var_path = "/system/members/{memberIdentifier}".sub('{format}','json').sub('{' + 'memberIdentifier' + '}', member_identifier.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Member')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MembersApi#system_members_member_identifier_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # Get Member Image
    # @param member_identifier 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :use_default_flag 
    # @option opts [String] :lastmodified 
    # @return [nil]
    def system_members_member_identifier_image_get(member_identifier, opts = {})
      system_members_member_identifier_image_get_with_http_info(member_identifier, opts)
      return nil
    end

    # 
    # Get Member Image
    # @param member_identifier 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :use_default_flag 
    # @option opts [String] :lastmodified 
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def system_members_member_identifier_image_get_with_http_info(member_identifier, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: MembersApi.system_members_member_identifier_image_get ..."
      end
      # verify the required parameter 'member_identifier' is set
      fail ArgumentError, "Missing the required parameter 'member_identifier' when calling MembersApi.system_members_member_identifier_image_get" if member_identifier.nil?
      # resource path
      local_var_path = "/system/members/{memberIdentifier}/image".sub('{format}','json').sub('{' + 'memberIdentifier' + '}', member_identifier.to_s)

      # query parameters
      query_params = {}
      query_params[:'useDefaultFlag'] = opts[:'use_default_flag'] if !opts[:'use_default_flag'].nil?
      query_params[:'lastmodified'] = opts[:'lastmodified'] if !opts[:'lastmodified'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/octet-stream'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MembersApi#system_members_member_identifier_image_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # Create Token By Member Identifier
    # @param member_identifier 
    # @param [Hash] opts the optional parameters
    # @return [Token]
    def system_members_member_identifier_tokens_post(member_identifier, opts = {})
      data, _status_code, _headers = system_members_member_identifier_tokens_post_with_http_info(member_identifier, opts)
      return data
    end

    # 
    # Create Token By Member Identifier
    # @param member_identifier 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Token, Fixnum, Hash)>] Token data, response status code and response headers
    def system_members_member_identifier_tokens_post_with_http_info(member_identifier, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: MembersApi.system_members_member_identifier_tokens_post ..."
      end
      # verify the required parameter 'member_identifier' is set
      fail ArgumentError, "Missing the required parameter 'member_identifier' when calling MembersApi.system_members_member_identifier_tokens_post" if member_identifier.nil?
      # resource path
      local_var_path = "/system/members/{memberIdentifier}/tokens".sub('{format}','json').sub('{' + 'memberIdentifier' + '}', member_identifier.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Token')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MembersApi#system_members_member_identifier_tokens_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
