=begin
#ConnectWise API

#ConnectWise API

OpenAPI spec version: 1.0.0
Contact: platform@connectwise.com
Generated by: https://github.com/swagger-api/swagger-codegen.git

=end

require "uri"

module ConnectWise
  class ProductsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # 
    # Get Products Count
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions 
    # @return [Count]
    def system_products_count_get(opts = {})
      data, _status_code, _headers = system_products_count_get_with_http_info(opts)
      return data
    end

    # 
    # Get Products Count
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions 
    # @return [Array<(Count, Fixnum, Hash)>] Count data, response status code and response headers
    def system_products_count_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ProductsApi.system_products_count_get ..."
      end
      # resource path
      local_var_path = "/system/products/count".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'conditions'] = opts[:'conditions'] if !opts[:'conditions'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Count')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductsApi#system_products_count_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # Get Products
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions 
    # @option opts [String] :order_by 
    # @option opts [String] :childconditions 
    # @option opts [String] :customfieldconditions 
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @return [Array<Product>]
    def system_products_get(opts = {})
      data, _status_code, _headers = system_products_get_with_http_info(opts)
      return data
    end

    # 
    # Get Products
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions 
    # @option opts [String] :order_by 
    # @option opts [String] :childconditions 
    # @option opts [String] :customfieldconditions 
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @return [Array<(Array<Product>, Fixnum, Hash)>] Array<Product> data, response status code and response headers
    def system_products_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ProductsApi.system_products_get ..."
      end
      # resource path
      local_var_path = "/system/products".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'conditions'] = opts[:'conditions'] if !opts[:'conditions'].nil?
      query_params[:'orderBy'] = opts[:'order_by'] if !opts[:'order_by'].nil?
      query_params[:'childconditions'] = opts[:'childconditions'] if !opts[:'childconditions'].nil?
      query_params[:'customfieldconditions'] = opts[:'customfieldconditions'] if !opts[:'customfieldconditions'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<Product>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductsApi#system_products_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # Get Product By Id
    # @param product_identifier 
    # @param [Hash] opts the optional parameters
    # @return [Product]
    def system_products_product_identifier_get(product_identifier, opts = {})
      data, _status_code, _headers = system_products_product_identifier_get_with_http_info(product_identifier, opts)
      return data
    end

    # 
    # Get Product By Id
    # @param product_identifier 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Product, Fixnum, Hash)>] Product data, response status code and response headers
    def system_products_product_identifier_get_with_http_info(product_identifier, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ProductsApi.system_products_product_identifier_get ..."
      end
      # verify the required parameter 'product_identifier' is set
      fail ArgumentError, "Missing the required parameter 'product_identifier' when calling ProductsApi.system_products_product_identifier_get" if product_identifier.nil?
      # verify enum value
      unless ['CloudConsole', 'CampaignDirector', 'UserCentric', 'ChatAssist'].include?(product_identifier)
        fail ArgumentError, "invalid value for 'product_identifier', must be one of CloudConsole, CampaignDirector, UserCentric, ChatAssist"
      end
      # resource path
      local_var_path = "/system/products/{productIdentifier}".sub('{format}','json').sub('{' + 'productIdentifier' + '}', product_identifier.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Product')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductsApi#system_products_product_identifier_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # Install Product
    # @param [Hash] opts the optional parameters
    # @option opts [String] :product_identifier 
    # @return [Product]
    def system_products_product_identifier_post(opts = {})
      data, _status_code, _headers = system_products_product_identifier_post_with_http_info(opts)
      return data
    end

    # 
    # Install Product
    # @param [Hash] opts the optional parameters
    # @option opts [String] :product_identifier 
    # @return [Array<(Product, Fixnum, Hash)>] Product data, response status code and response headers
    def system_products_product_identifier_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ProductsApi.system_products_product_identifier_post ..."
      end
      if opts[:'product_identifier'] && !['CloudConsole', 'CampaignDirector', 'UserCentric', 'ChatAssist'].include?(opts[:'product_identifier'])
        fail ArgumentError, 'invalid value for "product_identifier", must be one of CloudConsole, CampaignDirector, UserCentric, ChatAssist'
      end
      # resource path
      local_var_path = "/system/products/{productIdentifier}".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'productIdentifier'] = opts[:'product_identifier'] if !opts[:'product_identifier'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Product')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductsApi#system_products_product_identifier_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
