=begin
#ConnectWise API

#ConnectWise API

OpenAPI spec version: 1.0.0
Contact: platform@connectwise.com
Generated by: https://github.com/swagger-api/swagger-codegen.git

=end

require "uri"

module ConnectWise
  class ProductsItemApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # 
    # Get Products Count
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions 
    # @return [Count]
    def procurement_products_count_get(opts = {})
      data, _status_code, _headers = procurement_products_count_get_with_http_info(opts)
      return data
    end

    # 
    # Get Products Count
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions 
    # @return [Array<(Count, Fixnum, Hash)>] Count data, response status code and response headers
    def procurement_products_count_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ProductsItemApi.procurement_products_count_get ..."
      end
      # resource path
      local_var_path = "/procurement/products/count".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'conditions'] = opts[:'conditions'] if !opts[:'conditions'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Count')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductsItemApi#procurement_products_count_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # Get Products
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions 
    # @option opts [String] :order_by 
    # @option opts [String] :childconditions 
    # @option opts [String] :customfieldconditions 
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @return [Array<ProductItem>]
    def procurement_products_get(opts = {})
      data, _status_code, _headers = procurement_products_get_with_http_info(opts)
      return data
    end

    # 
    # Get Products
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditions 
    # @option opts [String] :order_by 
    # @option opts [String] :childconditions 
    # @option opts [String] :customfieldconditions 
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @return [Array<(Array<ProductItem>, Fixnum, Hash)>] Array<ProductItem> data, response status code and response headers
    def procurement_products_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ProductsItemApi.procurement_products_get ..."
      end
      # resource path
      local_var_path = "/procurement/products".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'conditions'] = opts[:'conditions'] if !opts[:'conditions'].nil?
      query_params[:'orderBy'] = opts[:'order_by'] if !opts[:'order_by'].nil?
      query_params[:'childconditions'] = opts[:'childconditions'] if !opts[:'childconditions'].nil?
      query_params[:'customfieldconditions'] = opts[:'customfieldconditions'] if !opts[:'customfieldconditions'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<ProductItem>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductsItemApi#procurement_products_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # Delete Product By Id
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def procurement_products_id_delete(id, opts = {})
      procurement_products_id_delete_with_http_info(id, opts)
      return nil
    end

    # 
    # Delete Product By Id
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def procurement_products_id_delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ProductsItemApi.procurement_products_id_delete ..."
      end
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling ProductsItemApi.procurement_products_id_delete" if id.nil?
      # resource path
      local_var_path = "/procurement/products/{id}".sub('{format}','json').sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductsItemApi#procurement_products_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # Get Product By Id
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [ProductItem]
    def procurement_products_id_get(id, opts = {})
      data, _status_code, _headers = procurement_products_id_get_with_http_info(id, opts)
      return data
    end

    # 
    # Get Product By Id
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProductItem, Fixnum, Hash)>] ProductItem data, response status code and response headers
    def procurement_products_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ProductsItemApi.procurement_products_id_get ..."
      end
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling ProductsItemApi.procurement_products_id_get" if id.nil?
      # resource path
      local_var_path = "/procurement/products/{id}".sub('{format}','json').sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ProductItem')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductsItemApi#procurement_products_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # Update Product
    # @param id 
    # @param operations 
    # @param [Hash] opts the optional parameters
    # @return [ProductItem]
    def procurement_products_id_patch(id, operations, opts = {})
      data, _status_code, _headers = procurement_products_id_patch_with_http_info(id, operations, opts)
      return data
    end

    # 
    # Update Product
    # @param id 
    # @param operations 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProductItem, Fixnum, Hash)>] ProductItem data, response status code and response headers
    def procurement_products_id_patch_with_http_info(id, operations, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ProductsItemApi.procurement_products_id_patch ..."
      end
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling ProductsItemApi.procurement_products_id_patch" if id.nil?
      # verify the required parameter 'operations' is set
      fail ArgumentError, "Missing the required parameter 'operations' when calling ProductsItemApi.procurement_products_id_patch" if operations.nil?
      # resource path
      local_var_path = "/procurement/products/{id}".sub('{format}','json').sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(operations)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ProductItem')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductsItemApi#procurement_products_id_patch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # Replace Product
    # @param id 
    # @param product_item 
    # @param [Hash] opts the optional parameters
    # @return [ProductItem]
    def procurement_products_id_put(id, product_item, opts = {})
      data, _status_code, _headers = procurement_products_id_put_with_http_info(id, product_item, opts)
      return data
    end

    # 
    # Replace Product
    # @param id 
    # @param product_item 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProductItem, Fixnum, Hash)>] ProductItem data, response status code and response headers
    def procurement_products_id_put_with_http_info(id, product_item, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ProductsItemApi.procurement_products_id_put ..."
      end
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling ProductsItemApi.procurement_products_id_put" if id.nil?
      # verify the required parameter 'product_item' is set
      fail ArgumentError, "Missing the required parameter 'product_item' when calling ProductsItemApi.procurement_products_id_put" if product_item.nil?
      # resource path
      local_var_path = "/procurement/products/{id}".sub('{format}','json').sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(product_item)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ProductItem')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductsItemApi#procurement_products_id_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # Create Product
    # @param product_item 
    # @param [Hash] opts the optional parameters
    # @return [ProductItem]
    def procurement_products_post(product_item, opts = {})
      data, _status_code, _headers = procurement_products_post_with_http_info(product_item, opts)
      return data
    end

    # 
    # Create Product
    # @param product_item 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProductItem, Fixnum, Hash)>] ProductItem data, response status code and response headers
    def procurement_products_post_with_http_info(product_item, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ProductsItemApi.procurement_products_post ..."
      end
      # verify the required parameter 'product_item' is set
      fail ArgumentError, "Missing the required parameter 'product_item' when calling ProductsItemApi.procurement_products_post" if product_item.nil?
      # resource path
      local_var_path = "/procurement/products".sub('{format}','json')

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(product_item)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ProductItem')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductsItemApi#procurement_products_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
